.main {
  color: white;
  height: 1080px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  //   background-position: ;
  background-image: url('/src/assets/images/Background.jpg');

  .blockText {
    margin-left: 94px;
    margin-right: 100px;
    width: 50%;
  }
}

h1 {
  font-weight: 400;
  font-size: 85px;
  text-transform: uppercase;
  color: #f5f5f5;
}

.text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  color: #f5f5f5;
}

.button {
  margin-top: 30px;
  padding: 19px 49px 19px;
  background-color: #f5f5f5;
  text-align: center;

  .buttonText {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #2b2b2b;
  }
}

.button:hover {
  background-color: black;
  color: white;
}
