.background {
  padding: 0 99px 148px 99px;
  width: 100%;
  background-color: white;
}

.background_Image {
  height: 730px;
  //    1721px
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  color: white;
  width: 1000px;
  height: 364px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(23, 23, 23, 0.4);
  // opacity: 80%;

  .block_Email {
    width: 765px;
  }

  h3 {
    // font-family: var(--font-family);
    font-weight: 300;
    font-size: 42px;
    text-transform: uppercase;
    color: #f5f5f5;
    width: 765px;
  }
}

.input_button {
  display: flex;
  margin-top: 55px;
  // opacity: 100%;

  .input {
    // font-family: var(--font-family);
    font-weight: 100;
    font-size: 18px;
    color: #2b2b2b;
    padding: 19px 33px;
    background-color: #d9d9d9;
    width: 100%;
    border: none;
    border-radius: 0;
  }
  .button {
    background-color: white;
    // font-family: var(--font-family);
    border: none;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 51px;
    opacity: 100%;

    p {
      color: #2b2b2b;
      width: 185px;
    }
  }
}
