.background {
  background-color: #171717;
  padding: 150px 100px 150px 103px;
  color: #f5f5f5;
}
.title {
  //   font-family: var(--font-family);
  font-weight: 300;
  font-size: 42px;
  text-transform: uppercase;
}

.table {
  margin-top: 60px;
  border-top: 1px solid #f5f5f5;
  width: 100%;
}

.block {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
}

.blocktitle {
  width: 50%;
  //   font-family: var(--font-family);
  font-weight: 300;
  font-size: 28px;
  text-transform: uppercase;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}

.blockDescription {
  width: 55%;

  //   font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f5f5f5;
}
