.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 63px 101px;
  a {
    color: #f5f5f5;
  }
}

.list_Buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  // font-family: var(--font-family);
  a {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
  }
}

.title {
  // font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: none;
}

.phone_Number {
  // font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  img {
    margin-right: 11px;
  }
}
