.background {
  background-color: #171717;
  padding: 68px 0 95px 100px;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;

  img {
    height: 1190px;
    width: 1200px;
  }
}

.title {
  //   font-family: var(--font-family);
  font-weight: 300;
  font-size: 42px;
  text-transform: uppercase;
  color: #f5f5f5;
}

.blocks {
  margin-top: 47px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;

  .block {
    display: flex;
    margin-bottom: 55px;
  }

  .number {
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }

  .line {
    display: block;
    border-left: 1px solid white;
    height: 100%;
    justify-self: center;
    margin-top: 8px;
  }

  .text {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
  }
}

h6 {
  // font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #f5f5f5;
}

p {
  // font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f5f5f5;
}
